# Compiled class file
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
release.properties

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
.m2/